/*/*.exe
/*.exe
.vscode/
test.cpp

"\[\]\033[35m\]17 ~ @ \[\033[96m\]\w\[\033[91m\] (main) ✔ \[\033[33m\]\n$ \[\]\[\]"

PS1="\033[35m\]17 ~ @ \[\033[33m\]\w\[\033[91m\]`__git_ps1` ✔ \[\033[33m\]\n$ \[\]"
PS1="\033[35m\]17 ~ @ \[\033[91m\]`__git_ps1` ✔ \[\033[33m\]\n$ \[\]"